<div class="grid place-content-center">
    <br>
    <div>
        <h1 class="font-mono text-5xl">
            Tic Tac Toe
        </h1>
        <br>
        <main class="font-extrabold grid grid-cols-3 size-fit">
            @for (val of squares(); track $index){
                <app-square [value]="val" (click)="move($index)"/>
            }
        </main>
    </div>
    <br>
    <button class="btn btn-primary btn-link btn-outline" (click)="newGame()">
        new game
    </button>

    <br>
    <div>
        <h1 class="font-mono text-3xl">
            Next: {{player}}
        </h1>
        @if(winner) {
            <p class="font-mono text-3xl">
                {{winner}} wins!
            </p>
        }
    </div>
</div>
